<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="integrada" value="no"/>
		<add key="SQLsrv" value="srvsql"/>
		<!--<add key="SQLsrv" value="ADMLAN06\SQLADMLAN06"/>-->
		<add key="SQLu" value="usrbolsa"/>
		<add key="SQLp" value="porahora"/>
		<add key="1_SQLsrv" value="localhost"/>
		<add key="1_SQLu" value="sa"/>
		<add key="1_SQLp" value="admindesarrollo123"/>
		<add key="SQLdb" value="db_bolsatrabajo"/>
		<add key="ServidorPOP" value="192.168.2.140"/>
		<add key="PuertoPOP" value="110"/>
		<add key="Carpeta_CV" value="public/CurrV/"/>
		<add key="Carpeta_ZIP" value="aEnviar"/>
		<add key="COMPRIME_BAT" value="comprime.bat"/>
		<add key="emailSystema" value="scolombini@frro.utn.edu.ar"/>
		<add key="SALIDA_SISTEMA_FRRO" value="http://www.frro.utn.edu.ar/"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="vb" debug="true">
		</compilation>
		<customErrors mode="Off" defaultRedirect="errorGral.aspx">
			<error statusCode="500" redirect="errorGral.aspx"/>
			<error statusCode="404" redirect="errorGral.aspx"/>
			<error statusCode="403" redirect="errorGral.aspx"/>
		</customErrors>
		<identity impersonate="false" userName="FRRO\usringreso" password="123456"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
			<!--<deny users="?"/>-->
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-ES" uiCulture="es-ES"/>
		<pages/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
